<header>
    <name> beaglebone-black</name>
    <version>1.0</version
    <author>BeagleBoard.org</author>
    <description>BeagleBone Black</description>
    <date>2013-10-01</date>
    <logo>beaglebone-black.png</logo>
</header>
<body>
    <motor>
        <name>Motor 1</name>
        <type>DC</type>
        <pin>GPIO1_28</pin>
        <pwm>GPIO1_16</pwm>
        <polarity>normal</polarity>
        <speed>0</speed>
        <direction>forward</direction>
    </motor>
    <fpga>
        <name>Motor 1</name>
        <type>DC</type>
        <pin>GPIO1_28</pin>
        <pwm>GPIO1_16</pwm>
        <polarity>normal</polarity>
        <speed>0</speed>
        <direction>forward</direction>
    </fpga>
    <
